.map-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
    height: 80vh;
    width: 95vw;
    margin: 2vh 2vw;
  }

  .top-stats-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
    position: fixed;
    padding: 1vh 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
  }

  .map-square {
    display: flex;
    width: 4.2vw;
    height: 6.55vh;
    font-size: 3vh;
    transition: background-color 1500ms ease-out;
    border: 0.1px solid rgba(146, 146, 146, 0.756);
    justify-content: center;
    align-items: center;
  }

  .store-div {
    background-color: grey;
    margin-top: 10vh;
    height: 80vh;
    width: 70vw;
    margin: 8vh 15vw;
  }

  .store-option {
    height: 10vh;
    width: 60vw;
    background-color: brown;
    color: white;
    font-size: 4vh;
  }

  .store-clickable:hover {
    background-color: rgb(78, 238, 238);
    border: 1px dashed rgb(0, 147, 147);
    
    cursor: pointer;
    font-size: 140%;
  }

  .return-to-map {
    background-color: rgb(211, 121, 121);
  }

  .return-to-map:hover {
    background-color: rgb(210, 81, 81);
    border: 1px dashed rgb(0, 59, 59);
    cursor: pointer;
    font-size: 140%;
  }

  .empty {
    background-color: black;
  }

  .wall {
    background-color: rgb(117, 56, 6);
  }

  .player {
    background-color: blue;
  }

  .player-computer {
    background-color: blueviolet;
    color: white;
    font-size: 5vh;
    transition: all 0.5s;;
  }

  .player-taser {
    background-color: aqua;
  }

  .computer {
    background-color: silver;
  }

  .vision-cone {
    background-color: pink;
  }

  .enemy {
    background-color: red;
  }

  .trapdoor {
    background-color: white;
    color: red;
  }

  .store-option {
    color: rgb(0, 105, 105);
    width: 65vw;
    height: 5vh;
    background-color: rgb(122, 253, 253);
    margin: auto;
    margin-top: 3vh;
    padding-top: 2vh;
    justify-content: center;
    display: flex;
    transition: 0.2s all;
  }

  .window {
    background-color: silver;
  }

  .store-clickable:hover {
    background-color: rgb(78, 238, 238);
    border: 1px dashed rgb(0, 147, 147);
    
    cursor: pointer;
    font-size: 140%;
  }
 