.map-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 6vh;
    padding: 2vh 0.5vw;
    height: 40vh;
    width: 90vw;
    margin-top: 20vh;
  }

  .top-stats-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
    position: fixed;
    padding: 1vh 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
  }

  .map-square {
    display: flex;
    width: 7.3vw;
    height: 20vh;
    font-size: 3vh;
    transition: background-color 1500ms ease-out;
    border: 0.5px solid rgba(97, 48, 0, 0.756);
    justify-content: center;
    align-items: center;
  }

  .empty {
    background-color: black;
  }

  .player {
    background-color: blue;
  }

  .player-computer {
    background-color: blueviolet;
    color: white;
    font-size: 5vh;
    transition: all 0.5s;;
  }

  .computer {
    background-color: silver;
  }

  .enemy {
    background-color: red;
  }

  .vision-cone {
    background-color: pink;
  }